
h1 {
    font-size:100px;
    color:blue;
}

h2 {
    font-size:200px;
    color:green;
}

p {
    color: rgb(57, 48, 177);
    font-size: 40px;
    font-family: "Roboto", serif;
    font-weight: 500;
}

body {
    background-color: antiquewhite;
}